[submodule "eio"]
	path = eio
	url = git@github.com:addap/eio.git
[submodule "kotlinx.coroutines"]
	path = kotlinx.coroutines
	url = git@github.com:addap/kotlinx.coroutines.git
[submodule "project"]
	path = project
	url = git@github.com:addap/hazel.git
